# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/build/
**/android/key.properties
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# 系统
.DS_Store
Thumbs.db
